<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Ustawienia Proxy">
        <setting type="sep" />
        <setting id="protocol" type="labelenum" label="Protokół"  values="None|http|https" default="None"/>
        <setting id="ipaddress" type="ipaddress" label="Adres IP" default="0.0.0.0" />
        <setting id="ipport" type="number" label="Port" default="0"/>
        <setting id="timeout" type="number" label="Timeout (s)" default="10"/>
        <setting id="set" value="on" />
    </category>
</settings>
