<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="Bramka Proxy" >
        <setting label="Aktywuj bramkę Proxy jeśli zawartość podkatalogów jest pusta" type="lsep"/>
        <setting id="bramka" type="bool" label="Proxy?" default="false" enable=/>
        <setting id="LigaTitle" value="" />
        <setting id="LigaUrl" value="" />
    </category>
    
</settings>


