<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
		<category label="Filmy">
			<setting type="sep" />
			<setting id="filmy_lektor" type="bool" label="Filmy z lektorem"  default="true" />
			<setting id="filmy_dubbing" type="bool" label="Filmy z dubbingiem"  default="false" />
			<setting id="filmy_napisy" type="bool" label="Filmy z napisami"  default="false" />
			<setting id="filmy_polskie" type="bool" label="Filmy polskie"  default="false" />
			<setting id="filmy_eng" type="bool" label="Wersja ENG"  default="false" />
			<setting id="filmy_hd" type="bool" label="Filmy HD"  default="true" />
		</category>
</settings>
