<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
        <category label="Kreator listy m3u i Live TV">
    <setting label="Lista m3u (Nazwa Pliku oraz Katalog Docelowy)" type="lsep"/>
    <setting label="Nazwa"      type="text"   id="fname" default="iptv.m3u" />
    <setting label="Katalog"    type="folder" id="path" source="auto" option="writeable"/>
				
    <setting label="źródła" type="lsep"/>
    <setting label="Dostawca:" type="select" id="service" values="Moje-Fimy|iklub|ihtv|itivi|yoy|looknij.in" default="ihtv"/>
	
    <setting label="Akcja: (Utworz/odswierz liste i reaktywj Telewizje)" type="lsep"/>
    <setting type="action"
             action="RunPlugin(plugin://plugin.video.LivePolishTV?mode=BUID_M3U)"
             label="Utwórz liste m3u" 
             option="close" />
    <setting type="action"
             action="RunPlugin(plugin://plugin.video.LivePolishTV?mode=UPDATE_IPTV)"
             label="Uaktualnij ustawienia [COLOR blue]PVR IPTV Simple Client[/COLOR] i (re)aktywuj Live TV" 
             option="close" />
    </category>
    <category label="Program EPG">
        <setting label="Przesuniecie czasowe przewodnika (godziny)" type="slider" id="epgTimeShift" default="0" range="-12,1,12" option="int" />
         <setting id="epgUrl" type="select" label="Dostawca EPG" values="http://epg.iptvlive.org|http://api.moje-filmy.tk/epg.xml" default="http://epg.iptvlive.org" />
    </category>
    
</settings>
