<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="Ustawienia" >
        <setting id="infoTab" type="bool" label="Informacje (plot,jakość,audio...)" default="false" enable=/>
        <setting label="Dodakowe informacje wydłużą czas ładowania zasobów" type="lsep"/>
    </category>  

</settings>


