<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Wersja jezykowa">
				<setting type="sep" />
                <setting id="Napisy" type="bool" label="Napisy" 	default="false" />
				<setting id="Lektor" type="bool" label="Lektor"  	default="true" />
				<setting id="Dubbing" type="bool" label="Dubbing"  	default="true" />
				<setting id="ENG" type="bool" label="ENG"  	default="true" />
				<setting id="PL" type="bool" label="PL"  	default="true" />
	</category>
</settings>
